*{
    margin: 0;
    scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Noto+Sans:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600&family=Roboto:wght@400;500&display=swap');

:root{
    --color1: #CC3900;
    --color2: #FBBBCD;
    --color: #F7F7F7;
    --noto-sans: 'Noto Sans', sans-serif;
    --gloria: 'Gloria Hallelujah', cursive;
    --roboto: 'Roboto', sans-serif;
}

#burger-menu{
    display: none;
}

#burger-menu2{
    display: none;
}

i{
    color: var(--color1);
}

ul{
    list-style: none;
    padding-left: 0px;
    display: flex;
    gap: 20px;
    align-items: center;
    margin: auto;
}

a{
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-family: var(--noto-sans);
    font-size: 16px;
}

                    /* HEADER */

nav{
    display: flex;
    justify-content: space-evenly;
    max-width: 1440px;
    margin: 10px;
    padding: 20px;
}

nav > div {
    display: flex;
    gap: 20px;
    align-items: center;
}

                    /* FOOTER */

footer section article{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: repeat(3, 1fr);
    margin: 10px;
    padding: 20px;
    max-width: 1440px;
}

.reseau-footer{
    display: flex;
    gap: 20px;
    align-items: center;
    grid-row: 2;
    grid-column: 3;
    margin: auto;
}

footer section article img{
    grid-row: 1/4;
}

footer section article p{
    grid-column: 2;
    grid-row: 3;
    text-align: center;
}