*{
    margin: 0;
    scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Noto+Sans:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600&family=Roboto:wght@400;500&display=swap');

:root{
    --color1: #CC3900;
    --color2: #FBBBCD;
    --color: #F7F7F7;
    --noto-sans: 'Noto Sans', sans-serif;
    --gloria: 'Gloria Hallelujah', cursive;
    --roboto: 'Roboto', sans-serif;
}

#burger-menu{
    display: none;
}

#burger-menu2{
    display: none;
}

i{
    color: var(--color1);
}

ul{
    list-style: none;
    padding-left: 0px;
    display: flex;
    gap: 20px;
    align-items: center;
    margin: auto;
}

a{
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-family: var(--noto-sans);
    font-size: 16px;
}

                    /* HEADER */

nav{
    display: flex;
    justify-content: space-evenly;
    max-width: 1440px;
    margin: 10px;
    padding: 20px;
}

nav > div {
    display: flex;
    gap: 20px;
    align-items: center;
}

                    /* FOOTER */

footer section article{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: repeat(3, 1fr);
    margin: 10px;
    padding: 20px;
    max-width: 1440px;
}

.reseau-footer{
    display: flex;
    gap: 20px;
    align-items: center;
    grid-row: 2;
    grid-column: 3;
    margin: auto;
}

footer section article img{
    grid-row: 1/4;
}

footer section article p{
    grid-column: 2;
    grid-row: 3;
    text-align: center;
}

/* MAIN */

main section{
    max-width: 1440px;
    margin: auto;
}

main section h1{
    color: #000;
    font-family: var(--gloria);
    font-size: 45px;
    font-weight: 400;
    line-height: 45px;
    margin-bottom: 70px;
}

main section article{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    text-align: center;
}

main section article div img{
    width: 300px;
    height: 300px;
}

main section article div h2{
    color: #000;
    text-align: center;
    font-family: var(--gloria);
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
}

main section article div p{
    color: #000;
    text-align: center;
    font-family: var(--noto-sans);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

@media screen and (max-width: 1024px) {
    main section article{
        grid-template-columns: repeat(3, 1fr);
    }
    
}

@media screen and (max-width: 768px) {
    main section article{
        grid-template-columns: repeat(2, 1fr);
    }
    main section h1{
        text-align: center;
    }
}

@media screen and (max-width: 767px) {
    main section article{
        grid-template-columns: 1fr;
    }
    main section h1{
        text-align: center;
    }
    #burger-menu{
        display: block;
    }
    
    #burger-menu2{
        display: block;
        grid-column: 3;
    }
    #footer > section > article > ul, #footer > section > article > div{
        display: none;
    }

    body > header > nav > ul, nav > div{
        display: none;
    }
    
}

